/* Common css */

/*  Navbar background color  */
.nav-bg-color {
    background-color: rgb(226, 255, 245);
}

.card-item {
    height: 350px;
}
.card-item img {
    width: 100px;
    height: 100px;
}

#show-result {
    height: 400px;
    overflow-y: scroll;
}